.footer-container {
    width: 100%;
    background-color: #5F9BCE;
    margin-top: 6px;

//padding-left: 60px;
height: 360px;

//border: 1px solid red;

display: flex;
align-items: center;
justify-content: center;
//padding-top: 50px;

justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
   // padding: 40px 20px;
    color: #ffffff;

    display: flex;
    flex-direction: row;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .logo-image {
    width: 70px;
    height: auto;
  }
  
  .footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #00df9a;
    margin-top: 10px;
  }
  
  .footer-text {
    margin-top: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content:flex-start;
    margin-top: 10px;
    gap: 25px;
  }
  
  .footer-copyright {
    text-align: center;
    display: flex;
    justify-content:flex-start;

    line-height:25px; 
    font-family:Chivo;

  }
  
  .footer-links {
  // margin-right: 30px;
    display: flex;
  //  border: 1px solid red;

    div{
      //  border: 1px solid black;
        
        width: 200px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:last baseline;
        align-items: center;
        .head{
       //     background-color: red !important;
            margin-bottom: 40px;
        }
    }

  }
  
  .footer-heading {
    font-size: 20px;
    font-weight: bold;
    font-family: Comfortaa;
   

  //  border: 1px solid red;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    //margin-bottom: 0;
  }
  
  li {
   // margin-top: 20px;
    font-size: 16px;
    font-family: Chivo;
    margin-bottom: 20px;
    

  }
  