.container {
    display: flex;
    align-items: center;
   // border: 2px solid black;

    .h2{
        font-size: 38px;
        font-weight: 400;
        color: #212529;
        font-family:'Comfortaa','sans-serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #212529;
    }
    
  
    .para-div {
      flex: 1;
      padding: 20px;
      width: 600px;
      height: auto;
      margin-left: 2%;
      color: #212529;
      margin-bottom: 20px;
     // border: 2px solid blueviolet;
      margin-right: 100px;

      .p1{
        font-family: 'Chivo','sans-serif';
        font-weight: 100px;
       
    }
    }
  
    .img-div {
      flex: 1;
      padding: 20px;
  
      img {
        max-width: 90%;
        height: auto;
        display: block;
        margin-left: 19%;
      }
    }
  }
  