.container {
    display: flex;
    align-items: center;
   // border: 2px solid black;

   #enrolBtn{
    background-color:black;
    color:white;
    padding:10px;
    border-radius:5px;
    border:2px solid black;
    font-size: 18px;
   
    &:hover{
      border:2px solid black;
      color:black;
      background-color:white;
      font-size: 18px;
    }
   }

    .h2{
        font-size: 38px;
        font-weight: 400;
        color: #212529;
        font-family:'Comfortaa','sans-serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
  
    .left-div {
      flex: 1;
      padding: 20px;
      width: 600px;
      height: auto;
      margin-left: 9%;

      .p1{
        font-family: 'Chivo','sans-serif';
        font-weight: 100px;
       
    }
    }
  
    .right-div {
      flex: 1;
      padding: 20px;
  
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: 12%;
      }
    }
  }
  