.containerH {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home-page {
    color: #fff;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    font-family: 'Chivo', sans-serif;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-containerH {
     height: 500px; 
   /* max-width: 100%;  */
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
}

.contentH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: justify; */
    /* max-width: fit-content; */
    max-width: 600px;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    max-width: 600px; 
    width: 100%; 
    /* border: #F4675C 2px solid; */
    /* padding: 0 20px;  */
}

.h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: #5f9bce!important;
}

.paraH {
    font-size: 16px;
    color: #212529;
    
}

.btnsH {
    gap: 20px;
    display: flex;
    flex-direction: row !important;
    justify-content: center; /* Center align buttons horizontally */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
}

.btnH {
    display: flex;
    flex-direction: row; /* Align icon and text vertically */
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 0.6rem;
    box-shadow: 2px 5px 4px gray;
    width: 260px;
    height: 50px; /* Adjusted height for better spacing */
}

.btnH img {
    width: auto;
    height: 3rem;
    margin-bottom: 10px;
}

.btnH p {
    color: black;
    text-align: center; 
    padding-bottom: 20px;
}

.btnsH button {
    border: 2px solid #9C55F7;
    background-color: #9C55F7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: smaller;
    border-radius: 14px;
}

.btnsH button:hover {
    background-color: #F4675C !important;
    color: white !important;
    border: 2px solid #F4675C !important;
}

.btnsH .btn2:hover {
    background-color: #F4675C !important;
    color: white !important;
    border: 2px solid #F4675C !important;
}


@media (max-width: 1024px) {
    .HomeMain{
        padding: 20px;
    
    .containerH{
        flex-direction: column;
        width: 100%;
    }
    .btnsH {
        flex-direction: column;
        align-items: center; 
        width: 100%;
    }

    .btnH {
        margin-bottom: 0px; 
        width: 100%;
    }

    .content1{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .img-containerH {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
}