.mainDivTestimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 70px;

  .testimonial {
    background-color: white;
    text-align: center;
    width: 100%;
    border: 0.2px solid gray;
    box-shadow: 1px 3px 4px 1px gray;
    border-radius: 15px;

    .divPara {
      font-family: Comfortaa;
      line-height: 25px;
      width: 100%;
    }
  
    p {
      color: black; 
    }
  
    .text h1 {
      margin: 3px;
    }
  
    .text h1 span {
      color: #333; 
    }
  }

  @media (max-width: 650px) {
    .testimonial {
      width: 100%;
    }
  }

  @media (min-width: 650px) and (max-width: 1124px) {
    .testimonial {
      width: 100%; // Two slides on medium screens
    }
  }
}
