.Learnings {
    // border: 2px salmon solid;
     width: 100%;
     display: flex;
     align-content: center;
     justify-content: center;
 
 .internRemote {
     width: 80%;
   //  border: 2px solid black;
     height: 50%;
     margin-bottom: 0;
     margin-top: 0;
 
     background-image: url('https://socialswirl.org/assets/Remote-084bb76a.png');
     background-size: contain; 
     background-position: center; 
     background-repeat: no-repeat; 
     height: 83vh; 
     max-width: auto;
 
     .btnLearning {
         position: relative; 
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%; 
 
 
         button {
             border: 2px solid #003c6b;
             background-color: #003c6b;
             color: #fff;
             width: 150px;
             height: 50px;
             font-weight: 500;
             font-size: medium;
             padding: 3px;
             font-size: 16px;
             font-family: poppins;
             border-radius: 5px;
             text-align: center;
             align-items: center;
             justify-content: center;
             display: flex;
 
             position: absolute; 
             bottom: 0; 
             
 
             transition: all 0.3s ease; 
 
             
             &:hover {
                 background-color: #fff;
                 color: #003c6b;
 
                 transform: scale(1.05); 
             }
             
         }
     }
 
     
 
 }
     
 }
 
 @media (max-width: 950px) {
     .Learnings {
        width: 100%;
     .internRemote {
        width: 100% !important;
         background-size: contain;
         height: 300px;
         margin-bottom: 100px;
         .btnLearning {
             button {
                 width: auto;
                 height: auto;
                 position: relative;
                 margin-top: 300px;
               
             }
         }
     }
 }
 }