.headDivMain{
    display: flex;
    flex-direction: row;
   // border: 2px solid black;
    justify-content: center;
    // max-width: fit-content;
    max-width: 100%;
    height: 100vh;

.com{
  //  border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
 
}

.watch{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



    .mainComing {
        width: 500px;
        height: 300px;
        justify-content: center;
      
        .swiper {
          width: 100%;
          height: 100%;
        }
      
        .imgDiv {
          width: 100%;
          height: 100%;
      
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    




    
    .div1{
     //   border:  2px solid black;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content: center;

        font-family: Chivo;
        font-size: 13px;
        color: #808080;
    }

    .div2{
        width: 700px;
        align-items: center;
        display: flex;
        justify-content: center;
    .ContainerStyle{
        width: 500px;
        height: 380px;
       // border: 2px solid red;
        display: flex;
        justifyContent: center;
        alignItems: center;
    }}

    .div3{
      //  border:  2px solid black;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content: center;

        color: #FFD700;
        font-family: Comfortaa;
        font-size: 13px;
       
        letter-spacing: -1px;
        text-shadow: 1px 1px 0px gold;
    }
}


@media (max-width: 768px) {
    .headDivMain{
        flex-direction: column;
    }
    .com{
        justify-content: flex-start;
    }
}