.me{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intern1Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  
  .intern {
    width: calc(33.33% - 20px); 
   // margin-bottom: 20px; 
    box-sizing: border-box;
    background-color: #ffffff; 
    padding: 60px;
    border: none; 


           @media (max-width: 1024px) {
                 width: calc(50% - 20px); 
           }
           @media (max-width: 580px) {
            width: calc(100% - 20px); 
          }
  }
  
  .intern img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .description {
    margin-top: 15px;
    text-align: center;
  }
  
  .btn button {
    background-color: #003c6b; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    border: 2px solid #003c6b;
    cursor: pointer;
    border-radius: 10px;
    font-family: Chivo;
    font-size:  16px;
    font-weight: 500;

    &:hover{
        background-color: white;
        color: #003c6b;
    }
  }